.icono {
    font-size: 40pt;
    color: #6FBC42
}

.mat-card-title {
    color: #6FBC42;
    text-align: center;
}
.my-box{
    min-width: 250px;
}

.btn-color{
    //color: white;
    background-color: #6FBC42;

}

.text-center {
    text-align: center;
}
