.icono {
    font-size: 40pt;
    color: #F44336
}

.mat-card-title {
    //background: #6FBC42;
    color: #F44336;
    text-align: center;
    //padding: 10px 10px 10px 10px;
}

.mat-card-content {
    font-size: 15pt;
}

.my-box{
    min-width: 250px;
}

button {
    margin-left: .5rem;
}
.btn-container {
    text-align: center;
    padding: 24px 0px;
    button {
        margin: 4px;
        width: 7rem;
    }
}

.dialog-title {
    padding: 0 10px
}