<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
    <app-form-header class="backoffice-page-header"></app-form-header>
    <div class="pl-10">
        <mat-accordion>
            <mat-expansion-panel class="filter-style" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>search</mat-icon>
                        Cuadro de filtros
                    </mat-panel-title>
                    <mat-panel-description *ngIf="!panelOpenState">
                        <div class="hidden md:block">
                            Haga clic para desplegar y acceder a los filtros
                        </div>
                    </mat-panel-description>
                    <mat-panel-description *ngIf="panelOpenState">
                        <div class="hidden md:block">
                            Haga clic para ocultar los filtros.
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3">
                    <mat-form-field appearance="outline" class="w-full px-2">
                        <mat-label>Nombre</mat-label>
                        <input matInput #nombre (keyup)="buscarCampo('nombre', nombre.value)">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full px-2">
                        <mat-label>Fecha Solicitud</mat-label>
                        <input matInput [matDatepicker]="fechaSolicitud" (dateChange)="buscarCampo('fechaSolicitud', $event.value)">
                        <mat-datepicker-toggle matSuffix [for]="fechaSolicitud"></mat-datepicker-toggle>
                        <mat-datepicker #fechaSolicitud></mat-datepicker>
                        <button *ngIf="filter.fechaSolicitud" matSuffix mat-icon-button aria-label="Clear"
                                (click)="clearDate('fechaSolicitud', fechaSolicitud)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full px-2">
                        <mat-label>Estado Solicitud</mat-label>
                        <mat-select (selectionChange)="buscarCampo('estadoSolicitudId', $event.value)">
                            <mat-option *ngFor="let l of estadoList" [value]="l.id">
                                {{l.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div>
        <div>
            <br />
            <div class="tbl-content inventory-grid grid items-center gap-4 py-3 px-6 md:px-8">
                <table mat-table [dataSource]="dataSource" matSort matSortActive="documento">

                    <ng-container matColumnDef="fechaSolicitud">
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Fecha Solicitud</th>
                        <td class="p-3" mat-cell *matCellDef="let e"> {{e.fechaSolicitud | date: 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td class="p-3" mat-cell *matCellDef="let e"> {{e.nombre}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nro">
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Nro </th>
                        <td  class="p-3" mat-cell *matCellDef="let e"> {{e.numeroSolicitud}} </td>
                    </ng-container>


                    <ng-container matColumnDef="importe">
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Importe Gs </th>
                        <td class="p-3" mat-cell *matCellDef="let e"> {{e.montoSolicitado | number}} </td>
                    </ng-container>

                    <ng-container matColumnDef="plazo">
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Plazo </th>
                        <td class="p-3" mat-cell *matCellDef="let e"> {{e.plazoMeses}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cuota">
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Cuota Gs </th>
                        <td class="p-3" mat-cell *matCellDef="let e"> {{e.importeCuota | number}} </td>
                    </ng-container>

                    <!--    <ng-container matColumnDef="franquicia">
                          <th mat-header-cell *matHeaderCellDef> Franquicia</th>
                          <td mat-cell *matCellDef="let e"> {{e.franquicia}} </td>
                        </ng-container>-->

                    <ng-container matColumnDef="estadoSolicitud">
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Estado de la solicitud </th>
                        <td class="p-3" mat-cell *matCellDef="let e"> {{e.estadoSolicitud}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones" stickyEnd>
                        <th class="p-3" mat-header-cell *matHeaderCellDef> Acciones</th>
                        <td class="p-3" mat-cell *matCellDef="let e">
                            <button mat-icon-button (click)="openDialog(e.id)">
                                <mat-icon>visibility</mat-icon>
                                <!--              Más Datos-->
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="paginacion.cantidad" [pageSize]="paginacion.por_pagina" (page)="obtenerDatos($event)"
                               class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
