
.mat-form-field {
  width: 100%;
}

// .form {
//   background: #031834;
//   padding: 20px;
// }
/*
.mat-label{
  color: white ;
}

h1,
h2,
h3,
span {
  color: black !important;
}

.white-icon {
  color: white;
}*/

.mat-input-element{
  color: black;
}
