/*
@import "../../../../../../assets/css/colores.scss";

.form {
  background: $primary;
  padding: 20px 30px;
}

.mat-form-field {
  margin: 10px;
  min-width: 16rem;
}

mat-toolbar {
  background: linear-gradient(90deg, #031834 50%, #0098c1 100%) !important;
}

h1,
h2,
h3 {
  color: #fff;
}

button {
  margin: 0 10px;
}*/
