mat-card {

  margin: 0 20px;

  .page-content {

    div {
      min-height: 60vh;
      max-height: 68vh;
      overflow-y: auto;

      table {
        width: 100%;
        min-width: 800px;
      }
    }
  }
}


.mat-input-element{
  color: black;
}
